<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>

        <div class="container" style="padding-bottom: 100px;">

            <table class="table table-striped">
                <tr>
                    <th> <%= data[0][0] %> </th>
                    <th> <%= data[0][1] %> </th>
                    <th> <%= data[0][2] %> </th>
                    <th> <%= data[0][3] %> </th>
                    <th> <%= data[0][4] %> </th>
                    <th> <%= data[0][5] %> </th>
                    <th> <%= data[0][6] %> </th>
                </tr>

            <%for(let i = 1; i < data.length; i++){%>
                <tr>
                    <td> <%= data[i][0] %> </td>
                    <td> <%= data[i][1] %> </td>
                    <td> <%= data[i][2] %> </td>
                    <td> <%= data[i][3] %> </td>
                    <td> <%= data[i][4] %> </td>
                    <td> <%= data[i][5] %> </td>

                    <td> 
                        <%= data[i][6] %>

                        <!--Step 1: Check if 100% correct result (Green ICON)-->
                        <% if(data[i][6] ==  data[i][3]+"-"+data[i][4]) { %>
                            <h6>Correct Result: +3 Points </h6>

                            <% } else if ( (data[i][3] > data[i][4] &&  data[i][7] > data[i][8]) ||  (data[i][4] > data[i][3] &&  data[i][8] > data[i][7]) || (data[i][3] - data[i][4] == 0 && data[i][8] - data[i][7] == 0)) { %>  
                            <h6> +1 Point</h6>
                         <% } %>
                    </td>
                </tr>
            <%}%>
            </table>

        </div>

    
    </body>


<%- include('partials/footer') %>